---
apiVersion: v1
kind: Config
current-context: kubelet-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.crt
{% if cluster_hostname | default("") != "" %}
    server: https://{{ cluster_hostname }}:{{ cluster_port }}
{% else %}
    server: https://{{ groups['masters'][0] }}:{{ master_cluster_port }}
{% endif %}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-to-{{ cluster_name }}
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/kubelet.client.crt
    client-key: /etc/kubernetes/ssl/kubelet.client.key
