---
apiVersion: {{ k8sRbacApiVersion }}
kind: ClusterRoleBinding
metadata:
  name: {{ service_account_name }}-proxier
  namespace: {{ service_account_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ service_account_name }}
    namespace: {{ service_account_namespace }}
roleRef:
   apiGroup: rbac.authorization.k8s.io
   kind: ClusterRole
   name: system:node-proxier
