---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ service_account_name }}
  namespace: {{ service_account_namespace }}
{% if service_account_registry_key is defined %}
imagePullSecrets:
- name: {{ service_account_registry_key }}
{% endif %}
